@import url('https://fonts.googleapis.com/css?family=Oswald:700');

html, body{
  height: 100%;
}
#container{
  min-height: 100%;
}
#main{
  overflow: auto;
  padding-bottom: 90px;
  min-height: 1024px;
}
#footer{
  height: 90px;
  width: 100%;
  margin-top: -90px;
  clear: both;
  position: relative;
}
#heart{
  position: relative;
  right: -100px;
}
hr.background-hr{
  border-top: 1px solid rgba(0,0,0,0);
}
h1{
  font-family: 'Oswald', sans-serif;
  color: black;
}
h1.title{
  font-size: 5rem;
  color: grey;
}
ul{
  list-style: none;
}

.background{
  background-image: url('../img/svg/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  /* position: absolute; */
  /* overflow: hidden; */
  cursor: default;
  /* height: 100vh; */
}

@media (min-width: 768px){
  #uterus{
    left: 63px;
  }
  .nav-colum{
    flex-direction: column!important;
  }
}
@media (max-width: 768px) {
    img.organs-mobile{
      height: 100px !important;
    }
}
.menu-icon{
  position: relative;
  top: -15px;
  left: 10px
}
li{
  width: 150px;

}
li.nav-item:hover{
  background-color: silver;
  border-radius: 5px;
}

.black-outline{
  border-color: black !important;
  color: black !important;
  background-color: transparent !important;
}

.m-top-50{
  margin-top: 80px;
}
.nav-link{
  color: black !important;
  margin-left: 10px;
}
.iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.resp-iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.white-text{
  color: white;
}
